{% extends "base.html" %}

{% block title %}This is my demo page{% endblock %}

{% block header %}My Python Demo page{% endblock %}

{% block content %}

<div class="card bg-light text-dark">
  <div class="card-body">
    <h4 class="card-title">Important Flask/Plotly links</h4>
    <p class="card-text">This is a sample Flask web app to demonstrate some best practices and concepts </p>
    <a href="https://github.com/sdg002/pythonwebapp" class="card-link">Link to repo on github</a>
    <p>
    <h4 class="card-title">Interval component</h4>
    <a href="https://dash.plotly.com/dash-core-components/interval" class="card-link">Official Dash documentation on
      Interval component</a>
    <a href="https://dash.plotly.com/live-updates" class="card-link">Live updates using Interval component</a>
    </p>

    <p>
    <h4 class="card-title">Tabbed navbar/Location component</h4>
    <a href="https://community.plotly.com/t/dcc-location-and-navigating-without-full-page-reload/74068/4"
      class="card-link">dcc Location
      without full page reload</a>
    <a href="https://community.plotly.com/t/multipage-dash-app-using-tabs-instead-of-navbar/83452/3"
      class="card-link">Multi page dash apps using Tabs instead of navbar</a>
    </p>
  </div>
</div>

{% endblock %}