{% extends "base.html" %}

{% block title %}This is my demo page{% endblock %}

{% block header %}My Python Demo page{% endblock %}

{% block content %}

<div class="card bg-light text-dark">
  <div class="card-body">
    <h4 class="card-title">Important Flask/Plotly links</h4>
    <p class="card-text">This is a sample Flask web app to demonstrate some best practices and concepts </p>
    <a href="https://github.com/sdg002/pythonwebapp" class="card-link">Link to repo on github</a>
    <h2>
      Interval component
    </h2>
    <a href="https://dash.plotly.com/dash-core-components/interval" class="card-link">Official Dash documentation</a>
    <a href="https://dash.plotly.com/live-updates" class="card-link">Live updates using Interval component</a>
  </div>
</div>

{% endblock %}