{% extends "base.html" %}

{% block title %}Form post back{% endblock %}

{% block header %}Form post back{% endblock %}

{% block content %}
    <h2>How to handle form submission?</h2>
  

<form method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" name="exampleemail" placeholder="name@example.com" value="{{exampleemail}}">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" name="exampletext" rows="3">{{exampletext}}</textarea>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
</form>
<div class="alert alert-info">
  <strong>Info!</strong> {{message}}.
</div>
{% endblock %}
