{% extends "base.html" %}

{% block title %}This is my demo page{% endblock %}

{% block header %}My Python Demo page{% endblock %}

{% block content %}
  
    <div class="card bg-light text-dark">
        <div class="card-body">
          <h4 class="card-title">Welcome to my page!</h4>
          <p class="card-text">Some example text. Some example text.</p>
          <a href="#" class="card-link">Card link 12</a>
          <a href="#" class="card-link">Another link 234</a>
        </div>
    </div>    
    
{% endblock %}
