{% extends "base.html" %}

{% block title %}This is my demo page{% endblock %}

{% block header %}My Python Demo page{% endblock %}

{% block content %}

<div class="card bg-light text-dark">
  <div class="card-body">
    <h4 class="card-title">Important Flask/Plotly links</h4>
    <p class="card-text">This is a sample Flask web app to demonstrate some best practices and concepts </p>
    <a href="https://github.com/sdg002/pythonwebapp" class="card-link">Link to repo on github</a>
    <h4 class="card-title">
      Interval component
    </h4>
    <a href="https://dash.plotly.com/dash-core-components/interval" class="card-link">Official Dash documentation on
      Interval component</a>
    <a href="https://dash.plotly.com/live-updates" class="card-link">Live updates using Interval component</a>

    <hr />
    <h4 class="card-title">Web assembly/Pyscript</h4>
    <a href="https://github.com/pyscript/pyscript" class="card-link">Pyscript github repo</a>
    <a href="https://docs.pyscript.net/2025.3.1/beginning-pyscript/" class="card-link">Beginning pyscript</a>
    <a href="#tobedone" class="card-link">??</a>
    <a href="#tobedone" class="card-link">??</a>
  </div>
</div>

{% endblock %}