/*
to be done
https://dash.plotly.com/external-resources
*/

/*
did not work
.navbar-nav a.active {
    font-weight: bold;
}
*/

/*
did not work
a.active {
    font-weight: bold;
}
*/

/*this works*/
.nav-link {
    color: black;
    font-weight: normal;
}

/*this did not work
.nav-link.active {
    color: red;
    font-weight: bold;
}
*/

/* this works, but only when the link is in a pressed state, disppears when the move moves away */
a.nav-link:active {
    color: red;
    font-weight: bold;
}

/*this works but only when the link has focus. Click anywhere else on the page and the focus is lost,so is the style
a.nav-link:focus {
    color: white;
    font-weight: bold;
}
*/